# Ignore system-specific files and directories
.android/
.cache/
.config/
.gnupg/
.local/
.mullvad/
.net/
.npm/
.nv/
.pki/
.pyenv/
.var/

# Ignore backup files
*~
.*.swp
.*.swo
.bash_history

# Ignore personal configuration files
.gitconfig
.gitmodules
.gtkrc-2.0

# Ignore package lists
package.txt

# Ignore logs and temporary files
*.log
